/* Body and general settings */
body {
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
    background-color: #f8f9fa;
    padding-top: 70px; /* Space for the fixed navbar */
    margin: 0;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Headings */
h1 {
    font-size: 2.5rem; /* Fallback for older browsers */
    font-size: calc(1.5rem + 1.5vw); /* Responsive size */
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 2rem; /* Fallback for older browsers */
    font-size: calc(1.3rem + 1.2vw); /* Responsive size */
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.interuni-logo {
    width: 30%;
    height: 30%;
}

/* Match Summary */
.match-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6eaff;
    border-radius: 90px;
    padding: 20px;
    margin: 20px 0;
    height: 175px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.team-logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}

.match-info {
    text-align: center;
    flex-grow: 1; 
    padding: 0 15px;
}

.team-names {
    font-size: 1.5rem; /* Fallback */
    font-size: calc(1rem + 0.5vw); /* Responsive */
    font-weight: bold;
    color: #2c3e50;
}

.score {
    font-size: 2.5rem; /* Fallback */
    font-size: calc(1.5rem + 1vw); /* Responsive */
    font-weight: bold;
    color: #0b346e;
}

.winner-text {
    font-size: 1.0rem; /* Fallback */
    font-size: calc(1rem + 0.3vw); /* Responsive */
    font-weight: bold;
    color: #4caf50;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

/* Style for LIVE text */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .live-text {
    color: red;
    font-weight: bold;
    animation: blink 3s infinite;
    
  }
  